@import './_tokens.styl'

@media screen and (min-width 768px)
	.header
		background-image url('../images/bg-header-desktop.png')
		&__article
			&__h1
				max-width 100%
				margin-bottom 5px
			&__p
				max-width 550px
		&__buttons-container
			flex-direction row
			max-width 350px