StrongCyan       = #26baa4
LightBlue        = #6173ff
DarkGrayishBlue  = #4c545d
GrayishBlue      = #9fabb2

FontSizeNormal   = 18px
FontWeightNormal = 400
FontWeightBold   = 400
FontFamily       = 'Bai Jamjuree', sans-serif

SpacingSmall = 25px
SpacingMedium = 50px
SpacingLong = 100px

//Mixins
button(color)
	margin-bottom 20px
	margin-left 10px
	width 80%
	height 40px
	border-radius 50px
	border none
	background-color color
	color white
	font-weight FontWeightBold
	box-shadow 0px 2px darken(color, 10)