StrongCyan       = #26baa4
LightBlue        = #6173ff
DarkGrayishBlue  = #4c545d
GrayishBlue      = #9fabb2

FontSizeNormal   = 18px
FontWeightNormal = 400
FontWeightBold   = 400
FontFamily       = 'Bai Jamjuree', sans-serif