@import './_tokens.styl'

html
	box-sizing border-box
	font-family FontFamily
	font-size FtontSizeNormal
	scroll-behavior smooth
	font-size 62.5%

*,*:before,*:after
	box-sizing inherit

body
	margin 0
	overflow-x hidden
	font-size 1.8rem

img
	max-width 100%
	height auto

figure
	margin 0

h1,h2,h3,h4,h5,h6
	color DarkGrayishBlue

p
	color GrayishBlue

a
	color DarkGrayishBlue
	text-decoration none
	&:hover
		text-decoration underline

.header
	width 100%
	display flex
	flex-direction column
	align-items center
	align-items center
	text-align center
	padding-top 150px
	background-image: url('../images/bg-header-mobile.png');
	background-position top
	background-repeat no-repeat
	background-size 100%
	&__article
		&__h1
			margin-left auto
			margin-right auto
			max-width 250px
			color DarkGrayishBlue
		&__p
			margin-left auto
			margin-right auto
			max-width 308px
			color GrayishBlue
			margin-bottom SpacingMedium
	&__buttons-container
		display flex
		flex-direction column
		align-items center
		width 100%
		max-width 308px
		.primary__button
			button(StrongCyan)
		.secondary__button
			button(LightBlue)

.keepsnippets
	display flex
	flex-direction column
	padding 0 30px
	text-align center
	max-width 350px
	margin-left auto
	margin-right auto
	margin-bottom SpacingLong
	&__intro
		margin-bottom SpacingMedium
	&__description
		&__text-item
			margin-bottom SpacingMedium
			h4
				margin-bottom 0

.description
	display flex
	flex-direction column
	padding 0 30px
	text-align center
	max-width 370px
	margin-left auto
	margin-right auto
	margin-bottom SpacingMedium
	&__intro
		h3
			max-width 200px
			margin 0 auto
		&__figure
			margin-bottom SpacingLong

.benefits
	display flex
	flex-direction column
	padding 0 30px
	text-align center
	max-width 370px
	margin-left auto
	margin-right auto
	&__item
		margin-bottom SpacingSmall

.companies
	display flex
	flex-direction column
	width 100%
	align-items center
	margin-bottom SpacingLong
	figure
		margin SpacingSmall

.clipboard
	padding 0 30px
	text-align center
	max-width 370px
	margin-left auto
	margin-right auto
	&__buttons
		display flex
		flex-direction column
		justify-content center
		align-items center
		margin-top SpacingSmall
		&__item--primary
			button(StrongCyan)
		&__item--secondary
			button(LightBlue)

.footer
	text-align center
	background-color FooterBackground
	margin-top SpacingLong
	&__right
		display flex
		flex-direction column
		&__figure
			margin-top SpacingLong
			margin-bottom SpacingMedium
			&__image
				width 70px
		&__link
			display flex
			flex-direction column
			a
				margin-bottom SpacingSmall
	&__left
		display flex
		justify-content space-between
		max-width 150px
		margin SpacingSmall auto 0
		padding-bottom SpacingMedium

@media screen and (min-width 768px)
	.header
		background-image url('../images/bg-header-desktop.png')
		&__article
			&__h1
				max-width 100%
				margin-bottom 5px
			&__p
				max-width 550px
		&__buttons-container
			flex-direction row
			max-width 350px

@media screen and (min-width 900px)
	.keepsnippets
		padding 0
		width 100%
		max-width 1400px
		&__intro
			max-width 600px
			margin 0 auto SpacingMedium
		&__description
			margin-left -360px
			display flex
			text-align start
			justify-content center
			&__text-container
				max-width 350px
				margin-left 100px
				margin-top SpacingMedium

	.description
		max-width 700px
		&__intro
			h3
				max-width 400px

	.benefits
		flex-direction row
		justify-content space-between
		max-width 900px
		&__item
			margin 0 SpacingSmall SpacingMedium

	.companies
		flex-direction row
		max-width 900px
		margin-left auto
		margin-right auto

	.clipboard
		max-width 700px
		&__buttons
			flex-direction row
			max-width 350px
			margin-left auto
			margin-right auto