@import './_tokens.styl'

html
	box-sizing border-box
	font-family FontFamily
	font-size FtontSizeNormal
	scroll-behavior smooth

*,*:before,*:after
	box-sizing inherit

body
	margin 0
	overflow-x hidden

img
	max-width 100%
	height auto

figure
	margin 0

h1,h2,h3,h4,h5,h6
	color DarkGrayishBlue

p
	color GrayishBlue

.header
	width 100%
	display flex
	flex-direction column
	align-items center
	align-items center
	text-align center
	padding-top 150px
	background-image: url('../images/bg-header-mobile.png');
	background-position top
	background-repeat no-repeat
	background-size 100%
	&__article
		&__h1
			margin-left auto
			margin-right auto
			max-width 250px
			color DarkGrayishBlue
		&__p
			margin-left auto
			margin-right auto
			max-width 308px
			color GrayishBlue
			margin-bottom SpacingMedium
	&__buttons-container
		display flex
		flex-direction column
		align-items center
		width 100%
		max-width 308px
		.primary__button
			button(StrongCyan)
		.secondary__button
			button(LightBlue)

.keepsnippets
	display flex
	flex-direction column
	padding 0 30px
	text-align center
	max-width 350px
	margin-left auto
	margin-right auto
	&__intro
		margin-bottom SpacingMedium
	&__description
		&__text-item
			margin-bottom SpacingMedium

@media screen and (min-width 768px)
	.header
		background-image url('../images/bg-header-desktop.png')
		&__article
			&__h1
				max-width 100%
			&__p
				max-width 550px
		&__buttons-container
			flex-direction row
			max-width 350px